{% extends "articles_base.html" %}
{% block title %}Articles{% endblock %}
{% block content %}
<style>
	p {
    	margin-left: 215px;
    	margin-right: 215px;
	}
</style>
<center>
<h1><br>In a 60-Game schedule, History Suggests that Pitching Rules </h1>
</center>
<p><br><small class="text-muted">Written by Nathan Ackerman<br>Data visualizations by Devin Dhaliwal</small></p>


<p><br>
Baseball fans, the wait is almost over: There will be - at least, tentatively - an MLB season in 2020. </p>

<p>Of course, the landscape of the league is going to look quite different in a number of ways. The designated hitter is coming to (destroy) the National League, each extra inning will start with a runner on second base and, most atypical of all, the regular season will last just 60 games. </p>

<p>I want to focus on that lattermost point. Rather than a 162-game marathon to the postseason, which usually tends to weed out the faux contenders by the 110-120 game mark at the latest, it will be a guns blazing sprint to the finish line in which every team - okay, fine, not even a 63% season reduction can save the Baltimore Orioles and Detroit Tigers of the world - will figure to be in the mix right up until the final stretch. </p>

<p>For the purpose of this argument, though, I want to focus not on the fringe contenders (think: San Diego Padres, Los Angeles Angels, both Chicago teams) that should benefit from the variance of the 2020 season but rather the types of teams that should get the biggest boost from a schedule shortening. </p>

<center>
<img src="https://baseball-analytica-images.s3-us-west-1.amazonaws.com/ERA.png" alt="" width="50%" height="400">
<br>
<img src="https://baseball-analytica-images.s3-us-west-1.amazonaws.com/BA.png" alt="" width="50%" height="400">
<br>
<img src="https://baseball-analytica-images.s3-us-west-1.amazonaws.com/SLG.png" alt="" width="50%" height="400">

</center>

<p>Take a look at the graphs above analyzing leaguewide ERA, slugging percentage and batting average by month since 2000 (I've decided to omit September altogether, as late-season call-ups, which tend to disproportionately come in the form of hitters stinking it up, skew the data). In them, you'll notice an overarching general trend: As the season progresses, the bats get hotter and the pitching cools off. </p>

<p>And the relevant aspect of this trend to the 2020 season: In the first couple months, pitching rules. </p>

<p>It makes sense, too. Hitters, while they spend much of Spring Training (or, I guess, Summer Camp this year) facing live pitching from their own teammates, have much less access to game-like simulations throughout the offseason than pitchers. The latter group can throw live bullpens at max effort as long as they have a pitchers' mound and someone to catch for them. As well, pitching naturally has more wear-and-tear on the body than does hitting, so pitchers break down more over the course of the season. Combine decreasing pitcher health and durability with hitters finding their groove and timing a few months into the season, and the graphs shouldn't be too surprising.</p>

<p>This won't bode well for teams built around their ability to slug the ball 450 feet several times a game and win ballgames by an average score of 11-8. In other words, teams like the Twins, Brewers and Angels should likely be slightly disadvantaged due to the natural tendency for offenses to start off the season cold. (Although, Mike Trout is admittedly an alien and may not be subject to the laws governing ordinary humans. I digress.)</p>

<p>In this short season, I'm looking at pitching-oriented teams like the Tampa Bay Rays (tied-15th in runs scored and second in runs allowed in and the St. Louis Cardinals (19th in runs scored and fifth in runs allowed last year) to reap the immediate benefits of the 60-game schedule. </p>

<p>Of course, there's a chance I'm totally wrong about all of this. Maybe the sprint-esque nature of the season pressures hitters into finding that groove and timing right off the bat (no pun intended) as soon as the season gets underway, and they come out of the gate roaring because they have no other choice. </p>

<p>With a regular season this irregular, there's not much precedent to go off of. Thus, it's fair - and the only recourse - to take previous trends, apply them to 2020 and hope we're proven right. And for the Cardinals and Rays fans out there (if there are any of you belonging to the latter category, though I seriously have my doubts) - you'd better hope so too.</p><br>

{% endblock %}