{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block bar %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ url_for('data') }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('predict_wins') }}">Predict wins</a>
              <a class="dropdown-item" href="{{ url_for('predict_outcome') }}">Predict game outcome</a>
              <a class="dropdown-item" href="{{ url_for('stat_visualization') }}">Graph a specific stat's impact on wins</a>
              <a class="dropdown-item" href="{{ url_for('team_stat_visualization') }}">Graph a specific stat's impact on a team's wins over time</a>
              <a class="dropdown-item" href="{{ url_for('gameday_factors_visualization') }}">Graph gameday factors</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('articles') }}">Articles</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<style>
  p {
      margin-left: 215px;
      margin-right: 215px;
  }
</style>

<center>
<br>
<h1>Who even made this?</h1>
<img src="https://baseball-analytica-images.s3-us-west-1.amazonaws.com/devin_nathan.JPG" alt="" width="25%" height="350">
</center>
<br>
<p>Devin Dhaliwal and Nathan Ackerman are rising juniors at the University of Southern California, hailing from the East Bay Area. They are avid baseball fans and played high school ball together at the Division 5 powerhouse The Athenian School. Devin is majoring in Computer Science and Business Administration while Nathan is a Journalism major with minors in Sports Media Studies and Applied Analytics.</p>

<p>The idea for this website came about one day when Devin and Nathan were arguing about the merits of batting average compared to OPS in determining a player’s worth. With only boring tables to demonstrate their arguments, they decided there had to be a better way to visualize statistics and apply it to the game. And that’s where Baseball Analytica was born. Devin works on the back-end and front-end software development while Nathan writes the articles.</p>

<p>Outside of school and being disappointed by USC football, Devin is a trumpet player in the Trojan Marching Band and an All-American intramural flag football wide receiver. Nathan is an associate managing editor of the <i>Daily Trojan</i> and a huge Phillies fan (in addition to some flag football abilities of his own — let’s not forget his three first-half touchdowns in Round 1 of 2020’s playoffs). Nathan strives to one day be a baseball analyst at ESPN or MLB Network and Devin a product manager at a tech company.</p>

<p>For any questions, suggestions or opportunities, feel free to reach out to Devin at devindha@usc.edu or Nathan at nrackerm@usc.edu.</p> 
<br>
{% endblock %}