{% extends "base.html" %}
{% block title %}Explore Baseball Data{% endblock %}
{% block bar %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="{{ url_for('data') }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('predict_wins') }}">Predict wins</a>
              <a class="dropdown-item" href="{{ url_for('predict_outcome') }}">Predict game outcome</a>
              <a class="dropdown-item" href="{{ url_for('stat_visualization') }}">Graph a specific stat's impact on wins</a>
              <a class="dropdown-item" href="{{ url_for('team_stat_visualization') }}">Graph a specific stat's impact on a team's wins over time</a>
              <a class="dropdown-item" href="{{ url_for('gameday_factors_visualization') }}">Graph gameday factors</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('articles') }}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Predict wins</h1>
    <p class="lead">Enter values for each category to predict how many games an MLB team with those stats would win.</p>
    <p class="lead">If left blank, the value will default to the MLB average for that stat from 1916 to 2019.</p>
  </div>
</div>

<!-- Button trigger modal -->
<p style="margin-left: 10px"><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Stat Descriptions
</button></p>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Available Stats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Hitting:</b>
          <p style="margin-left: 40px"><br>AB: At Bats</br>
          <br>R: Runs Scored</br> 
          <br>H: Hits</br>
          <br>2B: Doubles</br>
          <br>3B: Triples</br>
          <br>HR: Home Runs</br>
          <br>BB: Walks</br>
          <br>SO: Strikeouts</br>
          <br>SB: Stolen Bases</br>
          <br>CS: Caught Stealing</br>
          <br>BA: Batting Average</br>
          <br>OBP: On Base Percentage</br>
          <br>SLG: Slugging Percentage</br>
          <br>OPS: OBP+SLG</br></p>
        <br><b>Pitching:</b></br>
          <p style="margin-left: 40px"><br>RA: Runs Allowed</br>
          <br>ER: Earned Runs</br>
          <br>ERA: Earned Run Average</br>
          <br>CG: Complete Games</br>
          <br>SHO: Shutouts</br>
          <br>SV: Saves </br>
          <br>HA: Hits Allowed</br>
          <br>HRA: Home Runs Allowed</br> 
          <br>BBA: Walks Allowed</br> 
          <br>SOA: Strike Outs</br>
          <br>E: Errors</br>
          <br>DP: Double Plays</br>
          <br>FP: Fielding Percentage</br></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form action="#" method="POST">
    <div class="form-row" align="left">
        <p style="margin-left: 10px"><div class="col">
            <p><b>AB:</b></p>
            <p><input name="AB" /></p>
        </div></p>
        <div class="col">
            <p><b>R:</b></p>
            <p><input name="R" /></p>
        </div>
        <div class="col">
            <p><b>H:</b></p>
            <p><input name="H" /></p>
        </div>
        <div class="col">
            <p><b>2B:</b></p>
            <p><input name="2B" /></p>
        </div>
        <div class="col">
            <p><b>3B:</b></p>
            <p><input name="3B" /></p>
        </div>
        <div class="col">
            <p><b>HR:</b></p>
            <p><input name="HR" /></p>
        </div>
        <div class="col">
            <p><b>BB:</b></p>
            <p><input name="BB" /></p>
        </div>
        <div class="col">
            <p><b>SO:</b></p>
            <p><input name="SO" /></p>
        </div>
        <div class="col">
            <p><b>SB:</b></p>
            <p><input name="SB" /></p>
        </div>
    </div>
    <div class="form-row" align="left">
        <p style="margin-left: 10px"><div class="col">
            <p><b>CS:</b></p>
            <p><input name="CS" /></p>
        </div></p>
        <div class="col">
            <p><b>RA:</b></p>
            <p><input name="RA" /></p>
        </div>
        <div class="col">
            <p><b>ER:</b></p>
            <p><input name="ER" /></p>
        </div>
        <div class="col">
            <p><b>ERA:</b></p>
            <p><input name="ERA" /></p>
        </div>
        <div class="col">
            <p><b>CG:</b></p>
            <p><input name="CG" /></p>
        </div>
        <div class="col">
            <p><b>SHO:</b></p>
            <p><input name="SHO" /></p>
        </div>
        <div class="col">
            <p><b>SV:</b></p>
            <p><input name="SV" /></p>
        </div>
        <div class="col">
            <p><b>HA:</b></p>
            <p><input name="HA" /></p>
        </div>
        <div class="col">
            <p><b>HRA:</b></p>
            <p><input name="HRA" /></p>
        </div>
    </div>
    <div class="form-row" align="left">
        <p style="margin-left: 10px"><div class="col">
            <p><b>BBA:</b></p>
            <p><input name="BBA" /></p>
        </div></p>
        <div class="col">
            <p><b>SOA:</b></p>
            <p><input name="SOA" /></p>
        </div>
        <div class="col">
            <p><b>E:</b></p>
            <p><input name="E" /></p>
        </div>
        <div class="col">
            <p><b>DP:</b></p>
            <p><input name="DP" /></p>
        </div>
        <div class="col">
            <p><b>FP:</b></p>
            <p><input name="FP" /></p>
        </div>
        <div class="col">
            <p><b>BA:</b></p>
            <p><input name="BA" /></p>
        </div>
        <div class="col">
            <p><b>OBP:</b></p>
            <p><input name="OBP" /></p>
        </div>
        <div class="col">
            <p><b>SLG:</b></p>
            <p><input name="SLG" /></p>
        </div>
        <div class="col">
            <p><b>OPS:</b></p>
            <p><input name="OPS" /></p>
        </div>
    </div>
    <p style="margin-left: 10px"><button type="submit" class="btn btn-danger">Predict Wins</button></p>
</form>
<p style="margin-left: 10px">{{ output }}</p>

{% endblock %}